body {
    background-color: #99c896;
    color: black;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.controls {
    margin-bottom: 20px;
}

/* La graella de 10x10 */
#grid-container {
    display: grid;
    grid-template-columns: repeat(10, 30px); /* 10 columnes de 30px */
    grid-template-rows: repeat(10, 30px);    /* 10 files de 30px */
    gap: 2px; /* Espai entre cel·les */
    border: 5px solid #333;
    background-color: #2d4d2e;
}

/* Estil base de cada cel·la */
.cell {
    width: 30px;
    height: 30px;
    background-color: white; /* Color per defecte (fons) */
    transition: background-color 0.3s;
    justify-content: center;
    align-items: center;
    display: flex;
}

/* Color quan la cel·la està "pintada" */
.cell.escondida {
    background-color: white; /* Color per defecte (fons) */
}

.cell.bomba {
    background-color: #ff0026;
    box-shadow: inset 0 0 5px #000;
}

.cell.pulsado{
    background-color: #d5d6b7;
    box-shadow: inset 0 0 10px #000;
}

.cell.bandera {
    /*background-image: url("imagenes/bandera.png");*/
    background-color: #b4cd82;
    box-shadow: inset 0 0 10px #000;
}

p{
    font-family: Minecraft;
}

.info{
    font-family: Minecraft;
    text-align: center;
    color: #000000;
    font-size: 30px;
}

.perder{
    font-size: 40px;
    color: #883d3d;
    text-align: center;
    font-family: Minecraft;
}

.banderas{
    font-size: 20px;
    text-align: center;
    font-family: Minecraft;
}

.titulo{
    text-align: center;
    font-family: Minecraft;
    font-size: 40px;
}

.boton{
    font-size: 20px;
    text-align: center;
    font-family: Minecraft;
    border-radius: 10px;
}

.boton:hover{
    background-color: #6a8869;
    color: white;
}

.titulo:hover{
    color: #4e6148;
}

@font-face {
    font-family: Minecraft;
    src: url('./Fonts/minecraftfont/Minecraft.ttf');
}